  
  // Mixin Transition
  @mixin transition {
    transition: $transition;
  }


  // Mixin Flex && Grid
  @mixin flex($justify, $items) {
    display: flex;
    justify-content: $justify;
    align-items: $items;
  }

  @mixin grids($number) {
    display: grid;
    grid-template-columns: repeat($number, minmax(0, 1fr));
  }


  // Mixin Button
  @mixin button($px, $py, $background, $rounder, $backgroundHover) {
    display: inline-block;
    background-color: $background;
    padding: $py $px;   
    border-radius: $rounder;
    @include flex(center, center, 30px);
    @include transition;
    &:hover {
      background-color: $backgroundHover;
    }
  
    span {
      color: $white;
      font-size: 14px;
      font-weight: 500;
    }
    &-icon {
      font-size: 22px;
      @include zindex;
    }
  }
  

  // Mixin Reponsive
  @mixin media-2xl {
    @media screen and (max-width: $breakpoint-2xl) {
      @content;
    }
  }

  @mixin media-xl {
    @media screen and (max-width: $breakpoint-xl) {
      @content;
    }
  }

  @mixin media-lg {
    @media screen and (max-width: $breakpoint-lg) {
      @content;
    }
  }
  
  @mixin media-md {
    @media screen and (max-width: $breakpoint-md) {
      @content;
    }
  }

  @mixin media-sm {
    @media screen and (max-width: $breakpoint-sm) {
      @content;
    }
  }
  